# Base game files
movie/*
ffxiv*
bink2w*.dll
fileinfo.fiin
sqpack/**
ReShade.log
ReShade.ini
ReShade.log
ReShade2.log
XInputXIV3.dll
XInputXIV9.dll

# Default screenshot directory
gposingway-screenshots
.gposingway/*

nvngx_dlss.dll
dxgi.dll
/reshade-shaders/Shaders/AS/as-stagefx
Listeningway.addon
Listeningway.ini
listeningway.log
/reshade-presets/AquitaineStudioPresets
/reshade-presets/IniNotes
*.addon64
shadingway.addon
shadingway.addon-state.json
/reshade-shaders/Textures/AS
/reshade-shaders/Shaders/IniNotes
/md/license-analysis
