# Base game files
movie/*
ffxiv*
bink2w*.dll
fileinfo.fiin
sqpack/**
ReShade.log
ReShade.ini
ReShade.log
ReShade2.log
XInputXIV3.dll
XInputXIV9.dll

# Default screenshot directory
gposingway-screenshots
.gposingway/*

nvngx_dlss.dll
dxgi.dll